.App-header {
	rotate: -90deg;
}

.tree {
	display: flex;
	justify-content: center;
}

.branch {
	background-color: rgb(0, 0, 0);
}

.App {
	div {
		position: relative;
		transform-origin: left;
	}
}
